<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zero Hunger Network</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src = "../static/js/app.js"></script>
  </head>
  <body>
    <nav style = "padding-top: 20px;">
      <a href = "/">Zero Hunger Network: Tiger Hacks 2024 Submission</a>
    </nav>
    <div id = "hero-content" style = "display: grid; margin-top: 100px;">
      <div id = "hero-left" style = "grid-column-start: 1;">
        <h1 style = "max-width: 700px;">A world of <span>zero</span> hunger and <span>zero</span> waste</h1>
      </div>
      <div id = "hero-right" style = "grid-column-start: 2; display: grid; justify-content: center;">
        <div>
          <h2>Need food?</h2>
          <a href = "/find" style = "display: flex;">
            <p>Find Food</p>
            <img class = "arrow" src = "../static/images/arrow.svg">
          </a>
        </div>
        <div>
          <h2>Have excess food?</h2>
          <a href = "/donate" style = "display: flex;">
            <p>Donate</p>
            <img class = "arrow" src = "../static/images/arrow.svg">
          </a>
        </div>
      </div>
    </div>
    <p style = "margin-top: 100px; font-size: 20px">Our mission is to bridge the gap between excess and need, making a lasting impact by redirecting unused food to nourish those facing hunger.</p>
    <h1 style = "margin-top: 100px;">Some stats</h1>
    <div id = "stats" style = "display: flex; flex-wrap: wrap; gap: 20px;">
      <div>
        <h1>13.5%</h1>
        <p>Of United States households experienced food insecurity in 2023 according to the USDA.</p>

      </div>
      <div>
        <h1>125</h1>
        <p>Billion pounds of food is wasted each year according to the Conservation Law Foundation</p>
      </div>
    </div>
    <h1 style = "text-align: center; margin-top: 100px;">High Demand</h1>
    <div id = "high-demand"></div>
    <img style = "z-index: -1;position: absolute; top: -20px; right: 0px; width: 50vw;" src = "../static/images/recycle.png">
  </body>
</html>
